*~
.DS_Store
clipgrab.pro.user
ClipGrab.app
ui_*.h
Makefile
*.o
moc_*.cpp
moc_*.h
.qmake*
qt.conf
*.autosave
*.swp
*.log
qrc_resources.cpp
*.pro.user*
clipgrab-*.tar*
clipgrab-*.zip*
build
ClipGrab.xcodeproj
